body {
    font-family: "Roboto";
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    color: #333;
    background-color: #fff;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #459ce7;
}

a {
    background-color: transparent;
}

nav ul a:hover {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.foot {
  list-style: none;

}

/*바디 리스트*/
div {
/* 		border: 1px solid green;
*/	}

div.star2 {
    display: inline-block;
    CLEAR: both;	
    PADDING-RIGHT: 0px;	
    PADDING-LEFT: 0px;	
    BACKGROUND: url(../img/icon_star2.gif) 0px 0px;	
    FLOAT: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    WIDTH: 90px;	
    PADDING-TOP: 0px;	
    HEIGHT: 18px; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    margin-left: 5px;    
}

p.star1 {
	PADDING-RIGHT:0px;	
	PADDING-LEFT: 0px;	
	BACKGROUND: url(../img/icon_star.gif) 0px 0px;	
	PADDING-BOTTOM: 0px;	
	MARGIN: 0px;	
	PADDING-TOP: 0px;	
	HEIGHT: 18px;
}