<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <typeAliases>
        <typeAlias alias="memberDto" type="com.free.member.model.MemberDto"/>
        <typeAlias alias="memberDetailDto" type="com.free.member.model.MemberDetailDto"/>
        <typeAlias alias="zipDto" type="com.free.member.model.ZipDto"/>
        <typeAlias alias="boardDto" type="com.free.board.admin.model.BoardDto"/>
        <typeAlias alias="reboardDto" type="com.free.board.all.model.ReboardDto"/>
        <typeAlias alias="memoDto" type="com.free.board.all.model.MemoDto"/>
        <typeAlias alias="albumDto" type="com.free.board.all.model.AlbumDto"/>
        
        <typeAlias alias="pageNation" type="com.free.util.PageNavigation"/>
        <typeAlias alias="guesthouseDto" type="com.free.store.model.GuesthouseDto"/>
        <typeAlias alias="storeFileDto" type="com.free.store.model.StoreFileDto"/>
        <typeAlias alias="storeDto" type="com.free.store.model.StoreDto"/>
        <typeAlias alias="emailAuthDto" type="com.free.member.model.EmailAuthDto"/>
        <typeAlias alias="bookDto" type="com.free.payment.model.BookDto"/>
    <!--        
        <typeAlias alias="emailAuthDto" type="com.free.payment.model.EmailAuthDto"/>
        <typeAlias alias="emailAuthDto" type="com.free.payment.model.EmailAuthDto"/>
        <typeAlias alias="emailAuthDto" type="com.free.payment.model.EmailAuthDto"/>
 -->       
    </typeAliases>
    
    <mappers>
        <mapper resource="com/free/config/mybatis/member.xml"/>
        <mapper resource="com/free/config/mybatis/payment.xml"/>
        <mapper resource="com/free/config/mybatis/book.xml"/>
        <mapper resource="com/free/config/mybatis/freeboard.xml"/>
        <mapper resource="com/free/config/mybatis/boardcommon.xml"/>
        <mapper resource="com/free/config/mybatis/guesthouse.xml"/>
        <mapper resource="com/free/config/mybatis/memo.xml"/>
        <mapper resource="com/free/config/mybatis/album.xml"/>
        <mapper resource="com/free/config/mybatis/map.xml"/>
        <mapper resource="com/free/config/mybatis/store.xml"/>
        <mapper resource="com/free/config/mybatis/admin.xml"/>
    </mappers>
    
</configuration>